<shared-title [title]="'Control flow'"></shared-title>
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">if:{{ showContent() }}</h2>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="toggleContent()"
    >
      Click me!
    </button>

    @if (showContent()) {
      <div class="bg-slate-300 p-5">True</div>
    } @else {
      <div class="bg-slate-300 p-5">false</div>
    }
  </div>

  <div class="bg-white rounded shadow p-10">
    @switch (grade()) {
      @case ("A") {
        <div class="bg-slate-300 p-5">A</div>
      }
      @case ("B") {
        <div class="bg-slate-300 p-5">B</div>
      }
      @case ("C") {
        <div class="bg-slate-300 p-5">C</div>
      }
      @case ("D") {
        <div class="bg-slate-300 p-5">D</div>
      }
      @case ("E") {
        <div class="bg-slate-300 p-5">E</div>
      }
      @case ("F") {
        <div class="bg-slate-300 p-5">F</div>
      }
    }
  </div>
  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (
        framework of frameworks();
        track frameworks;
        let i = $index;
        let first = $first;
        let last = $last;
        let even = $even;
        let odd = $odd;
        let count = $count
      ) {
        <li>
          {{ i }}/{{ count }} - {{ first }} - {{ last }} - {{ even }} - {{ odd
          }}{{ framework }}
        </li>
      }
    </ul>
  </div>
  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (framework of frameworks2(); track $index) {
        <li>{{ framework }}</li>
      } @empty {
        <li>No frameworks</li>
      }
    </ul>
  </div>
</section>
